@import "./design-system.css";

/* ==================================== Global rules here ==================================== */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~ Custom Utilities ~~~~~~~~~~~~~~~~~~~~~~~~~ */
@utility contain {
  @apply lg:px-contain-desktop w-full;
}
@utility button-secondary {
  @apply bg-secondary text-primary;
}
@utility button-primary {
  @apply bg-primary text-white;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ Components (L2) ~~~~~~~~~~~~~~~~~~~~~~~~~ */
@layer components {
  .btn {
    @apply font-semibold tracking-wider;
  }
  .fadein__right--stagger .stagger {
    opacity: 0;
    animation: fadein-right 1s ease-out forwards;
    animation-delay: calc(0.4s * (var(--i, 1)));
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ Base (Element Defaults L1) ~~~~~~~~~~~~~~~~~~~~~~~~~ */
@layer base {
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-league-spartan;
}

h1 {
  @apply tracking-tighter;
}
p {
  @apply leading-relaxed tracking-wide;
}
button {
  @apply cursor-pointer font-semibold tracking-wider;
}

body section:first-of-type > :first-child {
  @apply mt-32;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
