/* ==================================== Themes ==================================== */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ Light / Default ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
  @layer theme {
    --color-primary: var(--color-purple);
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ Dark ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@custom-variant dark (&:where(.dark, .dark *));
/* .dark {
  @layer theme {
    --color-primary: var(--color-black);
  }
} */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ Additional Themes ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-green {
  @layer theme {
    --color-primary: var(--color-green);
  }
}

.theme-neutral {
  @layer theme {
    --color-primary: var(--color-neutral);
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ==================================== Primitives ==================================== */
:root {
  --color-neutral: #fffdf2;
  --color-purple: #7d57fd;
  --color-green: #bbe94dff;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
