/* ==================================== Themes ==================================== */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ Light / Default ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@layer theme {
  :root {
    --color-primary: var(--color-purple);
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ Dark ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@custom-variant dark (&:where(.dark, .dark *));
@layer theme {
  .dark {
    --color-primary: var(--color-black);
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ==================================== Primitives ==================================== */
:root {
  --color-neutral: #fffdf2;
  --color-purple: #7d57fd;
  --color-green: #bbe94dff;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
