/* ==================================== Themes ==================================== */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ Light / Default ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
  @layer theme {
    --color-primary: var(--color-blue);
    --color-accent: var(--color-green);
    --color-secondary: var(--color-purple);
    --color-neutral: var(--color-off-white);
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ Dark ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* @custom-variant dark (&:where(.dark, .dark *));
.dark {
  @layer theme {
    --color-neutral: #000;
  }
} */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ Additional Themes ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* .theme-green {
  @layer theme {
    --color-primary: var(--color-green);
  }
}

.theme-neutral {
  @layer theme {
    --color-primary: var(--color-neutral);
  }
} */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ==================================== Primitives ==================================== */
:root {
  --color-off-white: #fffdf2;
  --color-purple: #7d57fd;
  --color-green: #bbe94dff;
  --color-blue: #4fc9bd;
  --color-yellow: #fadc5a;
  --color-red: #fd4b3d;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
